.dadosdatabela{
    background-color: #424250;
    
}

.cabeçalho-roupa{
    background-color: #BB86FC;
}

.cabeçalho-casa{
    background-color: #00c4b4;
}
.tabela{
    background-color: #424250;
    font-size: 30px;
}

